header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  background-color: #ffffff;
  position: relative;
  top: 0;
  z-index: 100;
}

.navbar-container {
  width: 100%;
  margin: 1rem;
  padding: 1.2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
    display: block;
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #333;
    overflow: hidden;
    min-width: 25rem;
    height: 10rem;
}

.logo img {
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 75rem;
  gap: 5rem;
}

.nav-links a {
  text-decoration: none;
  position: relative;
  font-size: 1.8rem;
  color: #555555a6;
  height: 5rem;
  width: auto;
  transition: color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border: none;
  transition: color 0.2s ease-in-out;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0.8rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #B1976B;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  transition: 
    transform 0.25s ease
    opacity 0.25s ease;
}

.nav-links a:hover {
  color: #000;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  opacity: 1;
  transition: 0.5s ease;
}